# Dependencies
node_modules/
frontend/node_modules/

# Python
backend/venv/
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
*.egg-info/
.eggs/

# Build / IDE
dist/
frontend/dist/
*.local
.idea/
.vscode/
*.log
.DS_Store

# Env
.env
.env.local
.env.*.local
